 .tarif-row:hover {
        background-color: #ffe5e5; /* rouge très clair */
        transition: background-color 0.2s ease;
    }
    .table-responsive {
        min-height: 300px;
    }
    .pagination .page-item.active .page-link {
        background-color: #dc3545; /* Bootstrap danger */
        border-color: #dc3545;
    }
    .form-control:focus, .form-select:focus {
        border-color: #dc3545;
        box-shadow: 0 0 0 0.25rem rgba(220,53,69,.25);
    }
    .fw-bold {
        font-weight: 700 !important;
    }